/*Authors: Antonia Ritter and Kai Johnson*/

h3 {
  color: darkgreen;
  margin-bottom: 1cm;
}

h4 {
  text-align: center;
  margin-top: 1cm;
}

main {
  margin-top: 2rem;
}

button {
  color: green;
}

table, th, td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 5px;
}

th {
  text-align: left;
}

#dropdowns {
  margin-bottom: 0.5cm;
}

#countries_dropdown {
  width: 7cm;
}

#crops_dropdown {
  width: 7cm;
}

#years_dropdown {
  width: 2.5cm;
}

#display-graph {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#display-map-container {
  position: relative;
  float: center;
  height: 0;
  width: 90%;
  padding-bottom: 60%;
}

a:link {
  color: green;
  background-color: transparent;
}

a:visited {
  color: #1D5A27;
  background-color: transparent;
}
