/*Authors: Antonia Ritter and Kai Johnson*/

h3 {
  color: darkgreen;
  margin-bottom: 1cm;
}

h4, h5 {
  text-align: center;
  margin-top: 1cm;
}

body {
  font-family: "Georgia";
}

main {
  margin-top: 2rem;
  margin-bottom: 1cm;
}

button {
  color: green;
}

table, th, td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 5px;
}

th {
  text-align: left;
}

#dropdowns {
  margin-bottom: 0.9cm;
}

#countries-dropdown {
  width: 7cm;
}

#crops-dropdown {
  width: 7cm;
}

#years-dropdown {
  width: 3cm;
}

#display-graph {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#crops-about {
  text-align: left;
  margin-left: 1cm;
}

#display-map-container {
  position: relative;
  float: center;
  height: 0;
  width: 100%;
  padding-bottom: 50%;
  margin-bottom: -1cm; 
  background: #e6ffff;
}

.hoverpopup-map{
  background: #eeeeee;
  border: 1px black solid;
}

a:link {
  color: green;
  background-color: transparent;
}

a:visited {
  color: #1D5A27;
  background-color: transparent;
}
