/*
Authors: Antonia Ritter and Kai Johnson
CS 257
Feb-Mar 2021
*/

body {
  font-family: "Georgia";
}

main {
  margin-top: 2rem;
  margin-bottom: 1cm;
}

h3 {
  color: darkgreen;
  margin-bottom: 1cm;
}

h4, h5 {
  text-align: center;
  margin-top: 1cm;
}

button {
  color: green;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

th {
  text-align: left;
}

i {
  color: darkgreen;
  font-style: normal;
}

#instructions {
  text-align: center;
}

#dropdowns {
  margin-bottom: 0.2cm;
  font-size: 0.5cm;
}

#countries-dropdown {
  width: 7cm;
}

#crops-dropdown {
  width: 7cm;
}

#years-dropdown {
  width: 4cm;
}

#display-title {
  font-size: 0.6cm;
}

#display-text {
  color:darkgreen;
  font-size: 0.6cm;
}

#display-graph {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#display-map-container {
  position: relative;
  float: center;
  height: 0;
  width: 90%;
  margin-left: 5%;
  padding-bottom: 43%;
  margin-top: -0.2cm;
  margin-bottom: -1cm;
  background: #e6ffff;
}

.hoverpopup-map{
  background: #eeeeee;
  border: 1px black solid;
}

#about-text {
  margin-left: 1cm;
  margin-right: 1cm;
}

#crops-about {
  text-align: left;
  margin-left: 1cm;
}

a:link {
  color: green;
  background-color: transparent;
}

a:visited {
  color: #1D5A27;
  background-color: transparent;
}
