<!-- Authors: Antonia Ritter and Kai Johnson -->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <!-- Bootstrap stuff -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!--Custom files-->
    <link rel="stylesheet" type="text/css" href="../static/webapp.css" />
    <script type="text/javascript" src="../static/webapp.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <title>About</title>
</head>

<body>
    {% include 'header.html' %}

    <main id='about-text' class="container-fluid">
    <h3>About Agriculture Aggregate</h3>

    <p>CS257 Winter 2021 Final Project, Kai Johnson and Antonia Ritter</p>

    <br>
    
    <div id="instructions">
    
        <p><b>What gets displayed?</b></p>
    <p>If <em>All countries</em> is selected, a <b>map</b> is displayed. If not...</p>
    <p>If <em>All years</em> is selected, a <b>line graph</b> is diplayed. If not...</p>
    <p>If <em>All crops</em> is selected, a <b>bar chart</b> is displayed. If not... </p>
    <p>a <b>single production number</b> is displayed.</p>
   
    </div>

    <p><b>For example:</b></p>
    <p><em>All countries</em>, <em>All crops</em>, and <em>2012</em> shows a map of total crop production in 2012.</p>
    <p><em>Canada</em>, <em>All crops</em>, and <em>2012</em> shows a bar chart of top crops produced in Canada in 2012.</p>

    <br>

    <p><b>Notes:</b></p>

    <p>The data comes from the <a href="http://www.fao.org/faostat/en/#data/QC">Food and Agriculture Organization of the United Nations</a>.</p>

    <p>
    The crops shown in the multi-line graph (displayed when one country, all crops, and all years is selected)
    are those which produced the most in total, summed over all the years. 
    </p>

    <br>

    <p>Return to the <a href="index.html">home page</a>.</p>
    </main>

</body>
</html>
