<!-- Authors: Antonia Ritter and Kai Johnson -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Map stuff -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="static/datamaps.world.min.js"></script>

    <!-- Graph stuff (Chartist) 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/chartist.min.js"></script>
    <link rel="stylesheet" href="static/chartist.min.css">
    -->

    <!-- Graph stuff (Chartjs) -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


    <!-- Bootstrap stuff -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!--Custom-->   
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <link rel="shortcut icon" href="static/favicon.ico" />
    <title>World Ag Production</title>
</head>

<body>
    {% include 'header.html' %}

    <main class="container-fluid" id="crops-about">
        <h3>What's That Crop?</h3>

        <p>Here are details about some of the less familiar ones. </p>

        <p><u>... nes</u>:  a FAO designation which stands for "not elsewhere specified"</p>

        <p><a href="https://en.wikipedia.org/wiki/Areca_nut" target="_blank">Areca nuts</a></p>

        <p><a href="https://en.wikipedia.org/wiki/Vigna_subterranea" target="_blank">Bambara beans</a></p>

        <p><a href="https://en.wikipedia.org/wiki/Cassava" target="_blank">Cassava</a></p>

        <p><a href="https://en.wikipedia.org/wiki/Coir" target="_blank">Coir</a></p>

        <p><a href="https://en.wikipedia.org/wiki/Gooseberry" target="_blank">Gooseberries</a></p>

        <p><a href="https://en.wikipedia.org/wiki/Jute" target="_blank">Jute</a></p>

        <p><a href="https://en.wikipedia.org/wiki/Ceiba_pentandra" target="_blank">Kapok fruit</a></p>

        <p>Leeks, other <a href="https://www.thefreedictionary.com/alliaceous" target="_blank">alliaceous</a> vegetables</p>

        <p><a href="https://oregonstate.edu/instruct/css/330/seven/index2.htm" target="_blank">Oilcrops</a></p>

        <p><a href="https://en.wikipedia.org/wiki/Pigeon_pea" target="_blank">Pigeon peas</a></p>

        <p><a href="https://en.wikipedia.org/wiki/Legume" target="_blank">Pulses</a> nes</p>

        <p><a href="https://en.wikipedia.org/wiki/Pyrethrum" target="_blank">Pyrethrum</a>, dried</p>

        <p><a href="https://en.wikipedia.org/wiki/Quince" target="_blank">Quinces</a></p>

        <p><a href="https://en.wikipedia.org/wiki/Sorghum" target="_blank">Sorghum</a></p>

        <br>
    
        <p>Return to the <a href="index.html">home page</a>.</p>
        </main>

    </main>

</body>
</html>
