
<nav class="navbar navbar-expand-md navbar-dark bg-success">
    <div class="container-xl">
        <a class="navbar-brand" href="index.html">Agriculture Aggregate</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="about.html" style= "color: #D9F3DE;" >About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="crops.html" style= "color: #D9F3DE;" >What's that crop?</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
