<!-- Authors: Antonia Ritter and Kai Johnson -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/webapp.css" />
    <script type="text/javascript" src="../static/webapp.js"></script>
    <title>World Ag Production</title>
</head>

<body>
    <h3>World Ag Production Home Page</h3>

    <p><a href="about.html" id="link">about page</a></p>

    <ul id="menus_dropdowns"></ul>

    <p><button id="display_button">display</button></p>
    <ul id="display_results"></ul>

</body>
</html>
