<!-- Authors: Antonia Ritter and Kai Johnson -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>

    <!-- Map stuff -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="static/datamaps.world.min.js"></script>

    <!-- Graph stuff -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/chartist.min.js"></script>
    <link rel="stylesheet" href="static/chartist.min.css">
    
    <link rel="shortcut icon" href="static/favicon.ico" />
    <title>World Ag Production</title>
</head>

<body>
    <h3>Agriculture Aggregate Home Page</h3>

    <p><a href="about.html" id="link">about page</a></p>
    
    <p><span id="menus_dropdowns"></span>
    <button id="display_button">Go</button></p>

    <div id="display-title"></div>
    <div id="display-container"></div>
    <ul class="ct-chart ct-perfect-fourth" id="display_results"></ul>


</body>
</html>
