/*
   For use with index.html
   Antonia Ritter
   CS257 Assignment: simple-html
   Feb 5 2021
*/


body {
    margin: 0.5cm;
}

img {
	margin: 0.25cm;
	width: 23.5cm;
}

#newspaper {
    height: 43cm;
    width: 32cm;

}

#top {
    width: 31cm;
    height: 3cm;
    float: left;
    font-size: 2cm;
    text-align: center;
    color: blue;
    background-color: #00BFFF;
    margin: 0.5cm;
}

#left {
    width: 6cm;
    height: 10cm;
    float: left;
    font-size: 0.7cm;
    text-align: center;
    color: white;
    background-color: #6495ED;
    margin: 0.5cm;
}

#right {
    width: 24cm;
    height: 10cm;
    float:left;
    background-color: blue;
    margin: 0.5cm;
}


